.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 6px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin-top: 20px;
  font-weight: bold;
}

.Dictionary h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
